.intro {
  max-width: 24rem;
  text-align: center;
}

.sectionContainer {
  margin-bottom: 2rem;
}

.projects {
  display: grid;
  grid-gap: 2.5rem;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
}

@media (max-width: 750px) {
  .projects {
    grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
  }
}
